<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="taskLimit" value="15" />
    <add key="BlockOrder" value="LinXear" />
    <!-- either linear or someother value.  If linear, then they are done in order.-->
    <add key="QuickCheck" value="" />
    <add key="AllowQuickCheckBailout" value="false" />
    <!-- quick check a gap by putting a number in/near the gap here.-->
    <add key="MinValue" value="" />
    <add key="xQuickCheck" value="18361375334787046697, 18446744068680885127,18446744073321870643,18446744073709551615" />
    <!-- quick check a gap by putting a number in/near the gap here.-->
    <add key="xMinValue" value="18446744000000000000" />
  </appSettings>
</configuration>
