<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TwinTotals" value="false" />
    <add key="FileTasks" value="31" />
    <add key="xFolder" value="C:\tfs\Misc\Primes\Primes17\ArrayPrimes\LogR" />
    <add key="Folder" value="..\..\..\..\LogR" />
    <add key="FileMask" value="GapPrimes.*.log" />
    <add key="AllFileMask" value="Gap*.*.log" />
    <add key="LastPrimeBlocks" value="true" />
    <add key="SubDirectories" value="true" />
    <add key="ShowNumPrimesLines" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>