<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Folder" value="..\..\..\..\ArrayPrimes\bin\Release" />
    <add key="FileMask" value="GapPrimes.*.log" />
    <add key="SubDirectories" value="yes" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
