<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Folder" value="C:\tfs\Misc\Primes\Primes17\ArrayPrimes\LogR" />
    <add key="xFolder" value="..\..\..\..\ArrayPrimes\LogR" />
    <add key="FileMask" value="GapPrimes.*.log" />
    <add key="SubDirectories" value="yes" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
